## Answer 1

### What is a database?
A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).

###  Differentiate between SQL and NoSQL databases.
SQL is the programming language used to interface with relational databases. (Relational databases model data as records in rows and tables with logical links between them). NoSQL is a class of DBMs that are non-relational and generally do not use SQL.

## Answer 2

### What is DDL?
A data definition language (DDL) is a computer language used to create and modify the structure of database objects in a database

#### Explanation of Create
The CREATE command is used to create CREATE DATABASE, CREATE TABLE, CREATE INDEX, etc.

In [3]:
## Ex. of Create Table

CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);

#### Explanation of Drop

The DROP command is used to delete an existing table, existing database etc.

In [ ]:
## Ex. of Drop Daatbase

DROP DATABASE testDB;

#### Explanation of Alter
The ALTER command is used to change, add, delete, modify the data type.

In [ ]:
## Ex. of Alter Table

ALTER TABLE Customers
ADD Email varchar(255);

#### Explanation of TRUNCATE
The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.

In [ ]:
## Ex. of Truncate table

TRUNCATE TABLE Categories;

## Answer 3

### What is DML?

A DML (data manipulation language) refers to a computer programming language that allows you to add (insert), delete (delete), and alter (update) data in a database. A DML is typically a sublanguage of a larger database language like SQL, with the DML containing some of the language's operators.

#### Explanation of Insert

The INSERT INTO command is used to insert new rows in a table.

In [ ]:
## ex. of Insert Into

INSERT INTO Customers (CustomerName, City, Country)

#### Explanation of Update

The UPDATE command is used to update existing rows in a table.

In [ ]:
## ex. of Update

UPDATE Customers
SET ContactName = 'Naman', City= 'Agra'
WHERE CustomerID = 1;

#### Explanation of Delete

The DELETE command is used to delete existing records in a table.

In [ ]:
## Ex. of delete

DELETE FROM Customers WHERE CustomerName='Naman';

## Answer 4

###  What is DQL?

The full form of DQL is Data Query Language. DQL is a part of the grouping involved in SQL (Structures Query Language) sub-languages.

#### Explaination of SELECT

The SELECT command is used to select data from a database. The data returned is stored in a result table, called the result set.

In [ ]:
## Ex. of select

SELECT CustomerName, City FROM Customers;

## Answer 5

### Primary Key: 
A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence.

### Foreign Key: 
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.

## Answer 6

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

### Explanation of Cursor()

Cursor is a Temporary Memory or Temporary Work Station. It is Allocated by Database Server at the Time of Performing DML(Data Manipulation Language) operations on Table by User. Cursors are used to store Database Tables.

### Explanation of Execute()

The EXECUTE command is used to execute a stored procedure.

## Answer 7

The order in which the clauses in queries are executed is as follows:

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that donâ€™t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.