## Answer 1

### What is MongoDB?
MongoDB is a document database with the scalability and flexibility that you want with the querying and indexing that you need.

### Explain non-relational databases in short.
A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems.

###  In which scenarios it is preferred to use MongoDB over SQL databases?

Speed: It's high-performing for simple queries. Flexibility: You can add new columns or fields on MongoDB without affecting existing rows or application performance. Not every database fits every business need. That's why many companies rely on both relational and non-relational databases for different tasks.

## Answer 2

###  State and Explain the features of MongoDB
MongoDB supports field queries, range queries, and regular expression searches. Queries can return specific fields and also account for user-defined functions. This is made possible because MongoDB indexes BSON documents and uses the MongoDB Query Language (MQL).

1. Ad-hoc queries for optimized, real-time analytics
2. Indexing appropriately for better query executions
3. Replication for better data availability and stability
4. Sharding
5. Load balancing

## Answer 3

### Write a code to connect MongoDB to Python.

In [3]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 6.3 MB/s eta 0:00:0000:0100:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 35.8 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://naman7374:naman7374@cluster0.ehmrlj9.mongodb.net/?retryWrites=true&w=majority")
db = client.test

### create a database and a collection in MongoDB.

In [5]:
client = pymongo.MongoClient("mongodb+srv://naman7374:naman7374@cluster0.ehmrlj9.mongodb.net/?retryWrites=true&w=majority")

In [6]:
db = client['naman7374']

In [7]:
coll_create = db["my_record"]

In [8]:
data = {"name":"naman",
     "surname":"agarwal",
     "course":"data science masters",
     "topic":"Mongo DB"
}

In [9]:
coll_create.insert_one(data)

## Answer 4

In [28]:
data1 = {"name":"naman",
     "surname":"agarwal",
     "course":"data science masters",
     "topic":"Mongo DB"
}

In [29]:
## example of Insert_one

coll_create.insert_one(data1)

In [43]:
data2 = [{"name":'naman', "Course":"data science masters","Age": 26},{"name":'naman', "Course":"data science masters","Age": 27},
        {"name":'naman', "Course":"data science masters","Age": 28},{"name":'naman', "Course":"data science masters","Age": 29},
        {"name":'naman', "Course":"data science masters","Age": 30},{"name":'naman', "Course":"data science masters","Age": 25},
        {"name":'naman', "Course":"data science masters","Age": 24},{"name":'naman', "Course":"data science masters","Age": 23}]

In [44]:
## Example of Insert_many

coll_create.insert_many(data2)

In [45]:
## Example of find

for i in coll_create.find():
    print(i)

{'_id': ObjectId('63f529980a937f49f44093d8'), 'name': 'naman', 'surname': 'agarwal', 'course': 'data science masters', 'topic': 'Mongo DB'}
{'_id': ObjectId('63f52adf0a937f49f44093d9'), 'emailid': 'naman@gmail.com', 'phn no': 765432890}
{'_id': ObjectId('63f8b0ca047b1aa042d89385'), 'name': 'naman', 'surname': 'agarwal', 'course': 'data science masters', 'topic': 'Mongo DB'}
{'_id': ObjectId('63f8b0d5047b1aa042d89386'), 'name': 'naman', 'surname': 'agarwal', 'course': 'data science masters', 'topic': 'Mongo DB'}
{'_id': ObjectId('63f8b211047b1aa042d89387'), 'name': 'naman', 'Course': 'data science masters', 'Age': 26}
{'_id': ObjectId('63f8b211047b1aa042d89388'), 'name': 'naman', 'Course': 'data science masters', 'Age': 26}
{'_id': ObjectId('63f8b211047b1aa042d89389'), 'name': 'naman', 'Course': 'data science masters', 'Age': 26}
{'_id': ObjectId('63f8b211047b1aa042d8938a'), 'name': 'naman', 'Course': 'data science masters', 'Age': 26}
{'_id': ObjectId('63f8b211047b1aa042d8938b'), 'name': 'naman', 'Course': 'data science masters', 'Age': 26}
{'_id': ObjectId('63f8b211047b1aa042d8938c'), 'name': 'naman', 'Course': 'data science masters', 'Age': 26}
{'_id': ObjectId('63f8b211047b1aa042d8938d'), 'name': 'naman', 'Course': 'data science masters', 'Age': 26}
{'_id': ObjectId('63f8b211047b1aa042d8938e'), 'name': 'naman', 'Course': 'data science masters', 'Age': 26}
{'_id': ObjectId('63f8b3ab047b1aa042d8938f'), 'name': 'naman', 'Course': 'data science masters', 'Age': 26}
{'_id': ObjectId('63f8b3ab047b1aa042d89390'), 'name': 'naman', 'Course': 'data science masters', 'Age': 26}
{'_id': ObjectId('63f8b3ab047b1aa042d89391'), 'name': 'naman', 'Course': 'data science masters', 'Age': 26}
{'_id': ObjectId('63f8b3ab047b1aa042d89392'), 'name': 'naman', 'Course': 'data science masters', 'Age': 26}
{'_id': ObjectId('63f8b3ab047b1aa042d89393'), 'name': 'naman', 'Course': 'data science masters', 'Age': 26}
{'_id': ObjectId('63f8b3ab047b1aa042d89394'), 'name': 'naman', 'Course': 'data science masters', 'Age': 26}
{'_id': ObjectId('63f8b3ab047b1aa042d89395'), 'name': 'naman', 'Course': 'data science masters', 'Age': 26}
{'_id': ObjectId('63f8b3ab047b1aa042d89396'), 'name': 'naman', 'Course': 'data science masters', 'Age': 26}
{'_id': ObjectId('63f8b3e6047b1aa042d89397'), 'name': 'naman', 'surname': 'agarwal', 'course': 'data science masters', 'topic': 'Mongo DB'}
{'_id': ObjectId('63f8bc7c047b1aa042d89398'), 'name': 'naman', 'Course': 'data science masters', 'Age': 26}
{'_id': ObjectId('63f8bc7c047b1aa042d89399'), 'name': 'naman', 'Course': 'data science masters', 'Age': 27}
{'_id': ObjectId('63f8bc7c047b1aa042d8939a'), 'name': 'naman', 'Course': 'data science masters', 'Age': 28}
{'_id': ObjectId('63f8bc7c047b1aa042d8939b'), 'name': 'naman', 'Course': 'data science masters', 'Age': 29}
{'_id': ObjectId('63f8bc7c047b1aa042d8939c'), 'name': 'naman', 'Course': 'data science masters', 'Age': 30}
{'_id': ObjectId('63f8bc7c047b1aa042d8939d'), 'name': 'naman', 'Course': 'data science masters', 'Age': 25}
{'_id': ObjectId('63f8bc7c047b1aa042d8939e'), 'name': 'naman', 'Course': 'data science masters', 'Age': 24}
{'_id': ObjectId('63f8bc7c047b1aa042d8939f'), 'name': 'naman', 'Course': 'data science masters', 'Age': 23}

In [46]:
## Example of find_one

coll_create.find_one()

{'_id': ObjectId('63f529980a937f49f44093d8'),
 'name': 'naman',
 'surname': 'agarwal',
 'course': 'data science masters',
 'topic': 'Mongo DB'}

## Answer 5

### Explain how you can use the find() method to query the MongoDB database. 
In mongoDB, the find() method is used to fetch a particular data from the table. In other words, it is used to select data in a table. It is also used to return all events to the selected data. The find() method consists of two parameters by which we can find a particular record.

In [47]:

for i in coll_create.find():
    print(i)

{'_id': ObjectId('63f529980a937f49f44093d8'), 'name': 'naman', 'surname': 'agarwal', 'course': 'data science masters', 'topic': 'Mongo DB'}
{'_id': ObjectId('63f52adf0a937f49f44093d9'), 'emailid': 'naman@gmail.com', 'phn no': 765432890}
{'_id': ObjectId('63f8b0ca047b1aa042d89385'), 'name': 'naman', 'surname': 'agarwal', 'course': 'data science masters', 'topic': 'Mongo DB'}
{'_id': ObjectId('63f8b0d5047b1aa042d89386'), 'name': 'naman', 'surname': 'agarwal', 'course': 'data science masters', 'topic': 'Mongo DB'}
{'_id': ObjectId('63f8b211047b1aa042d89387'), 'name': 'naman', 'Course': 'data science masters', 'Age': 26}
{'_id': ObjectId('63f8b211047b1aa042d89388'), 'name': 'naman', 'Course': 'data science masters', 'Age': 26}
{'_id': ObjectId('63f8b211047b1aa042d89389'), 'name': 'naman', 'Course': 'data science masters', 'Age': 26}
{'_id': ObjectId('63f8b211047b1aa042d8938a'), 'name': 'naman', 'Course': 'data science masters', 'Age': 26}
{'_id': ObjectId('63f8b211047b1aa042d8938b'), 'name': 'naman', 'Course': 'data science masters', 'Age': 26}
{'_id': ObjectId('63f8b211047b1aa042d8938c'), 'name': 'naman', 'Course': 'data science masters', 'Age': 26}
{'_id': ObjectId('63f8b211047b1aa042d8938d'), 'name': 'naman', 'Course': 'data science masters', 'Age': 26}
{'_id': ObjectId('63f8b211047b1aa042d8938e'), 'name': 'naman', 'Course': 'data science masters', 'Age': 26}
{'_id': ObjectId('63f8b3ab047b1aa042d8938f'), 'name': 'naman', 'Course': 'data science masters', 'Age': 26}
{'_id': ObjectId('63f8b3ab047b1aa042d89390'), 'name': 'naman', 'Course': 'data science masters', 'Age': 26}
{'_id': ObjectId('63f8b3ab047b1aa042d89391'), 'name': 'naman', 'Course': 'data science masters', 'Age': 26}
{'_id': ObjectId('63f8b3ab047b1aa042d89392'), 'name': 'naman', 'Course': 'data science masters', 'Age': 26}
{'_id': ObjectId('63f8b3ab047b1aa042d89393'), 'name': 'naman', 'Course': 'data science masters', 'Age': 26}
{'_id': ObjectId('63f8b3ab047b1aa042d89394'), 'name': 'naman', 'Course': 'data science masters', 'Age': 26}
{'_id': ObjectId('63f8b3ab047b1aa042d89395'), 'name': 'naman', 'Course': 'data science masters', 'Age': 26}
{'_id': ObjectId('63f8b3ab047b1aa042d89396'), 'name': 'naman', 'Course': 'data science masters', 'Age': 26}
{'_id': ObjectId('63f8b3e6047b1aa042d89397'), 'name': 'naman', 'surname': 'agarwal', 'course': 'data science masters', 'topic': 'Mongo DB'}
{'_id': ObjectId('63f8bc7c047b1aa042d89398'), 'name': 'naman', 'Course': 'data science masters', 'Age': 26}
{'_id': ObjectId('63f8bc7c047b1aa042d89399'), 'name': 'naman', 'Course': 'data science masters', 'Age': 27}
{'_id': ObjectId('63f8bc7c047b1aa042d8939a'), 'name': 'naman', 'Course': 'data science masters', 'Age': 28}
{'_id': ObjectId('63f8bc7c047b1aa042d8939b'), 'name': 'naman', 'Course': 'data science masters', 'Age': 29}
{'_id': ObjectId('63f8bc7c047b1aa042d8939c'), 'name': 'naman', 'Course': 'data science masters', 'Age': 30}
{'_id': ObjectId('63f8bc7c047b1aa042d8939d'), 'name': 'naman', 'Course': 'data science masters', 'Age': 25}
{'_id': ObjectId('63f8bc7c047b1aa042d8939e'), 'name': 'naman', 'Course': 'data science masters', 'Age': 24}
{'_id': ObjectId('63f8bc7c047b1aa042d8939f'), 'name': 'naman', 'Course': 'data science masters', 'Age': 23}

## Answer 6

The sort() method specifies the order in which the query returns the matching documents from the given collection.

In [63]:
collection = db["new_record"]

In [64]:
data9=[{"name":"Naman", "Age": 24}, {"name":"Naman", "Age": 25}, {"name":"Naman", "Age": 26}, {"name":"Naman", "Age": 27}]

collection.insert_many(data9)

In [67]:
for i in collection.find():
    print (i)

{'_id': ObjectId('63f8bff2047b1aa042d893a0'), 'name': 'Naman', 'Age': 24}
{'_id': ObjectId('63f8bff2047b1aa042d893a1'), 'name': 'Naman', 'Age': 25}
{'_id': ObjectId('63f8bff2047b1aa042d893a2'), 'name': 'Naman', 'Age': 26}
{'_id': ObjectId('63f8bff2047b1aa042d893a3'), 'name': 'Naman', 'Age': 27}

In [91]:
for i in collection.find().sort('Age', 1):
    print(i)

{'_id': ObjectId('63f8bff2047b1aa042d893a0'), 'name': 'Naman', 'Age': 24}
{'_id': ObjectId('63f8bff2047b1aa042d893a1'), 'name': 'Naman', 'Age': 25}
{'_id': ObjectId('63f8bff2047b1aa042d893a2'), 'name': 'Naman', 'Age': 26}
{'_id': ObjectId('63f8bff2047b1aa042d893a3'), 'name': 'Naman', 'Age': 27}

## Answer 7

### 1. delete_one()

The delete_one() method in MongoDB is used to remove a single document from a collection. It takes a filter object that specifies the selection criteria for the document to be deleted.

The delete_one() method is useful in scenarios where you only want to delete a single document from a collection, rather than all documents that match a given selection criteria. This can help in avoiding unintended deletion of data.

### 2. delete_many()

The delete_many() method is used to delete multiple documents from a MongoDB collection that match a specified filter. It takes a filter object as its argument, which determines which documents to delete. It returns a DeleteResult object, which includes information about the operation, such as the number of documents that were deleted.

This method is useful when you need to remove a large number of documents from a collection based on a certain condition. For example, you might want to delete all documents from a collection where a certain field has a specific value, or delete all documents that were created before a certain date.

### 3. drop()

In MongoDB, the drop() method is used to delete a specific database. This method takes no parameter and removes the specified database from the current connection. The drop() method returns True if the database was successfully deleted and False if not.