In [1]:
import pandas as pd

course_name = ["Data Science", "Machine Learning", "Big Data", "Data Engineer"]
duration = [2,3,6,4]
df = pd.DataFrame(data = {"course_name" : course_name, "duration" : duration})

In [2]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

### Q1. Write a code to print the data present in the second row of the dataframe, df.

In [3]:
df.loc[[1]]

        course_name  duration
1  Machine Learning         3

### Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

1. loc- loc is label-based indexing method, which means that it selects data based on the row and column labels. It takes two arguments, the row label(s) and the column label(s), and returns the data that matches the labels. The row and column labels can be either a single label, a list of labels, or a slice object.

2. iloc - iloc is position-based indexing method, which means that it selects data based on the row and column positions. It takes two arguments, the row position(s) and the column position(s), and returns the data that matches the positions. The row and column positions can be either a single position, a list of positions, or a slice object.

### Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

In [4]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [5]:
new_df = df.reindex([3,0,1,2])
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [6]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [7]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

## Did you observe any difference in both the outputs? If so then explain it.

#### Yes I observe that loc is label-based indexing method and iloc is position-based indexing method

In [8]:
import pandas as pd
import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]

#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [9]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.477302  0.844356  0.170322  0.316795  0.205430  0.115081
2  0.488586  0.630639  0.445956  0.016967  0.976146  0.111308
3  0.452792  0.105925  0.537937  0.007368  0.346552  0.933176
4  0.381587  0.492822  0.326499  0.091030  0.105027  0.526297
5  0.397242  0.447995  0.939583  0.496647  0.906880  0.611931
6  0.230922  0.922920  0.788172  0.872998  0.193323  0.687331

### Q4. Write a code to find the following statistical measurements for the above dataframe df1:
1. mean of each and every column present in the dataframe.
2. standard deviation of column, ‘column_2’

In [10]:
df1.mean()

column_1    0.404738
column_2    0.574110
column_3    0.534745
column_4    0.300301
column_5    0.455560
column_6    0.497521
dtype: float64

In [11]:
df1["column_2"].std()

0.2965154216639806

### Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.
### If you are getting errors in executing it then explain why.

In [12]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.477302  0.844356  0.170322  0.316795  0.205430  0.115081
2  0.488586  0.630639  0.445956  0.016967  0.976146  0.111308
3  0.452792  0.105925  0.537937  0.007368  0.346552  0.933176
4  0.381587  0.492822  0.326499  0.091030  0.105027  0.526297
5  0.397242  0.447995  0.939583  0.496647  0.906880  0.611931
6  0.230922  0.922920  0.788172  0.872998  0.193323  0.687331

In [13]:
df1.loc[2,"column_2"] = "B"

In [14]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.477302  0.844356  0.170322  0.316795  0.205430  0.115081
2  0.488586         B  0.445956  0.016967  0.976146  0.111308
3  0.452792  0.105925  0.537937  0.007368  0.346552  0.933176
4  0.381587  0.492822  0.326499  0.091030  0.105027  0.526297
5  0.397242  0.447995  0.939583  0.496647  0.906880  0.611931
6  0.230922   0.92292  0.788172  0.872998  0.193323  0.687331

In [15]:
df1["column_2"].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

#### Error found because we can find the mean only of Int and float type value and a string type value.

### Q6. What do you understand about the windows function in pandas and list the types of windows functions?

In Pandas, window functions are used for calculating metrics on a rolling basis over a sliding window of data in a DataFrame or Series. They allow us to compute rolling calculations over a defined window of observations. These calculations could be used to identify trends, anomalies, or for feature engineering in data analysis and machine learning.

1. Rolling Window: It calculates metrics on a rolling basis over a sliding window of data in a DataFrame or Series. It's mainly used for time-series analysis. The rolling window method is applied to a DataFrame or Series and it returns an object of the same size and shape as the input.

2. Expanding Window: It calculates metrics for each expanding window over the full series. Expanding window function includes all past observations in each calculation.

3. Exponentially Weighted Moving Average (EWMA): It calculates the exponentially weighted moving average over a given time span. It assigns exponentially decreasing weights to the observations as they move further into the past.

4. Rolling Apply: It applies a custom function to a rolling window of data in a DataFrame or Series.

5. Exponentially Weighted Moving Window: This calculates a window function of exponentially decaying weights, which give greater importance to recent observations and less to earlier ones.

6. Rolling Aggregation: It applies a specific aggregation function (e.g., mean, sum, count, etc.) to a rolling window of data in a DataFrame or Series.

### Q7. Write a code to print only the current month and year at the time of answering this question.

In [ ]:
dt=pd.datetime.now()

In [ ]:
print("Current Month :",dt.month,"\n""Current Year :",dt.year)

### Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [16]:
date = input("Enter Start date in format YYYY-MM_DD :")
date2 = input("Enter End date in format YYYY-MM_DD :")
Start_date = pd.to_datetime(date)
End_date = pd.to_datetime(date2)
dt = End_date - Start_date
print(dt.days,"Days")

Enter Start date in format YYYY-MM_DD : 2023-01-01
Enter End date in format YYYY-MM_DD : 2023-01-29

28 Days

### Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [23]:
def cat():
    file_path= input("Enter the file path: ")
    col_name= input("Enter the column name: ")
    cat_ord= input ("Enter the category order(seperated by comma): ").split(',')
    
    df = pd.read_csv(file_path)
    df['new_col'] = pd.Categorical(df[col_name], categories=cat_ord)
    
    return df.sort_values('new_col')
#cat()

### Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [28]:
def plot():
    file_path = input("Enter the file path: ")
    df = pd.read_csv(file_path)
    
    df.plot.bar(stacked = True)

### Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.

In [32]:
Data = {"Student ID":[1,2,3,4,5,6,7,8,9,10],
"Test Score":[85,90,80,75,85,82,78,85,90,85]}

df = pd.DataFrame(Data)
df.to_csv("student_data.csv")

In [38]:
csv_file = input("Enter the file path of the CSV file containing the student data:")

df = pd.read_csv(csv_file)

mean = df["Test Score"].mean()
median = df["Test Score"].median()
mode = df["Test Score"].mode()

data = {"Statistic": ["Mean","Median","Mode"] , 
        "Value":[mean , median , mode]}
pd.DataFrame(data)

Enter the file path of the CSV file containing the student data: student_data.csv

  Statistic                                   Value
0      Mean                                    83.5
1    Median                                    85.0
2      Mode  0    85
Name: Test Score, dtype: int64